@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Vibur&display=swap');
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

/*
COLORS:
  black: #000000
  violet: #1B062A
  purple: #4E08B7
  hopbusk: #D056A2
  scooter: #2FB8D0
*/

body {
    background-image: url('images/city.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: #141414;
    display: block;
    justify-content: center;
    align-items: center;
    display: inline;
    margin: 0;
    background-attachment: fixed;
}


.profile_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  border: 20px solid #1B062A;
  border-radius: 50%;
  min-width: 400px;
}


h2 {
	text-align: center;
	margin: 0;
}

p {
	color: white;
  font-family: vt321;
  font-size: 600%;
  display: block;
  text-align: center;
}

pp {
	color: white;
  font-family: vt321;
  font-size: 30px;
  display: block;
  text-align: center;
  padding-bottom: 10%;
}

buffer {
  padding: 10%;
}

pp1 {
  color: white;
  font-family: vt321;
  font-size: 30px;
  display: block;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 10%;
}

pp2 {
  color: white;
  font-family: vt321;
  font-size: 23px;
  display: block;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 10%;
  padding-right: 2%;
  padding-left: 2%;
}

b {
	font-weight: 1000;
	font-size: 17px;
}

.audio{
  width:100%;
  color: #141414;
}

.audio audio{
  margin: 0 auto;
  display: table;
}

iframe {
	width: 80%;
	height: 500px;
	float: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 40px;
	display: block;
	border: none;
	border-radius: 25px;
	border: solid 10px #cccccc;
}

/*-----------------------SOCIAL MEDIA ICONS-------------------------------*/

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px 10px;
  border-width: 100px;
  border-color: #000000;
  
}

.fa:hover {
  opacity: 0.7;
}


/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Github */
.fa-github {
  background: #bbbbbb;
  color: white;
}

/* Email */
.fa-envelope-o {
  background: palevioletred;
  color: white;
}

/* instagram */
.fa-instagram {
  background: #f46f30;
  color: white;
}

.social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 28%;
  max-width: fit-content;
}

/*---------------------SEC 1------------------- */

/*resume button*/
a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: vt321;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}

a.button2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 50%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: vt321;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

a.button2:hover{
  color:#000000;
  background-color:#FFFFFF;
}

/*---------------------PIXEL ART------------------- */

div.scrollmenu {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
  
/*---------------------BACKDROP------------------- */

.sec {
    background-repeat: no-repeat;
    min-height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(85, 78, 78); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.8);
    max-width: 40%;
    min-width: 500px;
    border-radius: 2.5%;
    margin-bottom: 1%;
}

.sec2 {
  background-repeat: no-repeat;
  min-height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgb(85, 78, 78); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
  max-width: 50%;
  min-width: 500px;
  border-radius: 2.5%;
  margin-bottom: 1%;
}

.subp {
  background: #000000;
  background-repeat: no-repeat;
  border-radius: 50%;
  min-height: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgb(85, 78, 78); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.8);
  width: 80%;
}

/*---------------------font------------------- */

@font-face {
  font-family: vt321;
  src: url('vt323/VT323-Regular.ttf');
  color: white;
}

/*---------------------neon------------------- */


  
  @keyframes border-flicker {
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
  }


  @keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }

  .sign {
    padding: 70px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.neon-title {
    font-family: "Vibur", cursive;
    font-size: 7rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.neon-group {
    position: inline-block;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}

.neon-button-box {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin: 30px 0 0 30px;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
  }  

