@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Vibur&display=swap');
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

/*
COLORS:
  black: #000000
  violet: #1B062A
  purple: #4E08B7
  hopbusk: #D056A2
  scooter: #2FB8D0
*/

body {
    background-image: url(/Users/kellytran/kellytranweb/images/city.gif);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: #141414;
    display: block;
    justify-content: center;
    align-items: center;
    display: inline;
    margin: 0;
    background-attachment: fixed;
}


h2 {
	text-align: center;
	margin: 0;
}

p {
	color: white;
  font-family: vt321;
  padding: 5px;
  font-size: 60px;
}

subp {
	color: white;
  font-family: vt321;
  font-size: 40px;
}

b {
	font-weight: 1000;
	font-size: 17px;
}

iframe {
	width: 80%;
	height: 500px;
	float: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 40px;
	display: block;
	border: none;
	border-radius: 25px;
	border: solid 10px #cccccc;
}




/*---------------------sec 1------------------- */

.sec {
    background: #000000;
    background-repeat: no-repeat;
    min-height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(85, 78, 78); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.8);
    width: 80%;
}

.sign {
    padding: 70px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.neon-title {
    font-family: "Vibur", cursive;
    font-size: 7rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.neon-group {
    position: inline-block;
    text-align: center;
    justify-content: center;
    align-content: center;

}

.neon-button-box {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin: 30px 0 0 30px;
    border-radius: 8px;
    border: 3px solid rgb(0, 40, 70);
    cursor: pointer;
  }  


/*---------------------font------------------- */

@font-face {
  font-family: vt321;
  src: url(/Users/kellytran/kellytranweb/vt323/VT323-Regular.ttf 
  );
  color: white;
}

@font-face {
  font-family: silkscreen;
  src: url(/Users/kellytran/kellytranweb/Silkscreen/slkscr.ttf 
  );
  color: white;
}



/*---------------------neon------------------- */



  
  @keyframes border-flicker {
    2% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    7% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    13% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    18% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    54% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    100% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
  }


  @keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }

